@import url(./rules.scss);

$mainColor: #93b3b3;
$secondaryColor: #8c4830;

body{
  margin: 0;
  background-color: bisque;
}

.container {
  width: 100%;
  height: fit-content;
  background-color: $secondaryColor;
  h1 {
    color: $mainColor;
    font-size: 100px;
    text-align: center;
    font-family: 'Roboto';
    margin: 0;
  }
  div {
    background-color: rgb(72, 29, 86);
    text-align: center;
    h1 {
      font-size: 50px;
      color: rgb(14, 141, 184);
      margin: 0;
    }
  }
}
