@import url(./rules.scss);

$mainColor: #4d1d7d;
$secondaryColor: #9e8880;

body {
  margin: 0;
  background-color: bisque;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  height: fit-content;
  background-color: $secondaryColor;
  #root {
    .body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 70.9375%;
      margin: auto;
      .cell{
        width: 225px;
        margin: 1px 0;
      }
      div div{  
        border-radius: 0;        
      }
    }
  }
  h1 {
    color: $mainColor;
    font-size: 100px;
    text-align: center;
    font-family: "Roboto";
    margin: 0;
  }
  div {
    text-align: center;
    h1 {
      font-size: 50px;
      color: rgb(35, 114, 140);
      margin: 0;
    }
  }
}
